body{

    background-color: white;

}

p{

    color: blue;
}

h1, h2{

color: blueviolet;
    text-align: center;
font-family: Arial, Helvetica, sans-serif;
     font-size: 22px;
}

h2{

color: blueviolet;

}

.q{

text-align: center;
background-color: red;

}

.q2{

text-align: right;    

}

a{

text-decoration: none;    

}

.p{

border: 22px solid red;

}

table, th, td {

    border: 1px solid black;
    border-collapse: collapse; 

}

td,th{
    width: 200px;
}

.s, .d{

text-align: center;

}


td:nth-child(4), th:nth-child(4){
    text-align: right;
}

td:nth-child(2){
text-align: center; 
}
td:nth-child(3){
text-align: center;    
}
th:nth-child(1){
    text-align: left;
}

th:nth-child(1), th:nth-child(2), th:nth-child(3), th:nth-child(4){
background-color: gray
}
