body{

    background-color: white;

}

p{

    color: blue;
}

h1, h2{

color: blueviolet;
    text-align: center;
font-family: Arial, Helvetica, sans-serif;
     font-size: 22px;
}

h2{

color: blueviolet;

}

.q{

text-align: center;
background-color: red;

}

.q2{

text-align: right;    

}

a{

text-decoration: none;    

}

.p{

border: 22px solid red;

}

table, th, td {

    border: 1px solid black;
    border-collapse: collapse; 

}

td,th{
    width: 200px;
}

td:nth-child(4), th:nth-child(4){
    text-align: right;
}

td:nth-child(2){
text-align: center; 
}
td:nth-child(3){
text-align: center;    
}
th:nth-child(1){
    text-align: left;
}

tr{
    background-color: red;
}

tr:nth-child(odd){

    background-color: yellow;
}

tr:nth-child(1){
background-color: gray
}


table{

    border: 1px solid black;
    border-collapse: collapse;
    width: 200px;
    height: 200px;

}

.one{ 
background-color: lightskyblue;

}

.two {

    background-color: silver;
}

.three{ 
    background-color: blue;
}

.four{ 
    background-color: black;
}

.five{ 
    background-color: green;
}




